{% load static %}
<!DOCTYPE html>
<html>
<head>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
	<div class="nav">
		<h1>SIGNUP</h1>
	</div><hr>
	<div class="img-container img-thumbnail" style="float: right; margin-top: 100px; margin-right: 250px;">
	<label style="font-family: 'Josefin Sans', sans-serif; font-size: 20px; color: cornflowerblue;" >Get Expert oppinion from Pofessionals</label><br>
	<img src="{% static 'customer.gif' %} " alt="image" height="300px" width="400px">
	
	</div>
	<form class="col-lg-6" method="POST" action="/homecare/custregstn">
		{% csrf_token %}
		<div class="form-group">
			<label>name</label><input type="text" class="form-control"
			 name="cfullname"  required>
		</div>
		<div class="form-group ">
			<label>email</label><input  type="email" class="form-control"
			 name="cem" value="" required>
        </div>
        <div class="form-group">
			<label>mobile</label><input  type="number" class="form-control"
            name="cmb" required >
		</div>
        <div class="form-group">
			<label>pincode</label><input  type="number" class="form-control"
            name="cpn" required >
		</div>
		<div class="form-group" >
			<label>password</label><input type="password" class="form-control"  required>
		</div>
		<div class="form-group" >
			<label>confirm password</label><input type="password" class="form-control" name="cpswd" required>
		</div>
		<div>
			<button class="btn btn-primary" type="submit">Signup</button>
		</div><br>
		
	</form>
</body>

</html>